<%= form_for Post.new, :remote => true do |f| %>
 <div class="form-group">
   <%= f.text_area :content, :class => "form-control" %>
 </div>
 <div class="form-group">
   <%= f.submit :class => "btn btn-primary" %>
 </div>
<% end %>

<div id="post-list">
  <% @posts.each do |post| %>

  <%= render :partial => "post", :locals => { :post => post } %>

  <% end %>
</div>


<script>
  $(".delete-post").click(function(evt){
    evt.preventDefault();
    var url = $(this).attr("href");

    // 送出 Ajax
    $.ajax({
      url: url,
      method: 'DELETE',

       dataType: 'json', // 要求服务器回传 json
       success: function(data){   // data 就是服务器回传的 JSON 资料
         $("#post-" + data["id"]).remove();
       }
    })
  })
  
</script>
